<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="blog">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K9WVD8F" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
    <a id='top'></a>

    {% include header.html %}

    {% if page.onepage %}
      {% assign classname = 'top-shift' %}
    {% else %}
      {% assign classname = '' %}
    {% endif %}

    <div id="main" class="{{ classname }}">
      <div class='full'>
        <div class='row'>
          <div class='large-8 columns large-centered'>
            <div class="section-title">
              <p class="small-title">Blog</p>
              <h2 class="thin">BALLROOM <span class="gold">/</span> BOUTIQUE</h2>
            </div>
          </div>
        </div>
      </div>
      
      <div class='full no-padding'>
        <div class='row'>
          <div class='large-9 columns'>
            {{ content }}
          </div>
          <div class='large-3 columns' id='sidebar'>
            {% include sidebar-archives.html %}
            {% include sidebar-categories.html %}
            {% include sidebar-recent-posts.html %}
            {% include sidebar-tags.html %}
            <div class='four spacing'></div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
